<template>
  <v-layout justify-center>
    <v-flex xs12 sm6>
      <v-container fluid grid-list-lg>
        <v-layout row wrap>
          <v-flex xs12 v-for="(bus, i) in buses" :key="i">
            <v-card class="elevation-4">
              <v-card-title class="primary--text headline">
                <v-icon size="45" color="primary">directions_bus</v-icon>
                <span style="margin-right: 10px; font-weight: 500" class="title">Bus</span>
                <div :class="formatBusTitle(bus.ligneId)">
                  <span class="label" v-if="isIllico(bus.ligneId)">ILLICO</span>
                  <span class="bus">{{ bus.ligneId }}</span>
                </div>
                <v-spacer/>
                <span class="body-2">Arrêt {{ station.Name }}</span>
              </v-card-title>
              <v-card-text class="black--text" style="padding-top: 2px">
                <div>Pas de perturbation en cours</div>
                <div>
                  Position actuelle :
                  <span style="font-weight: 500">Dame blanche</span>
                </div>
                <div>
                  Traffic routier :
                  <span style="color: #33cc00de">fluide</span>
                </div>
                <div style="text-align: right; margin-top:15px" class="primary--text">
                  Prochain passage dans :
                  <span
                    style="margin-left: 15px; font-weight: 700"
                    class="title"
                  >{{ bus.time | formatDelay}}</span>
                </div>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>
  </v-layout>
</template>
<script>
import { mapState } from 'vuex'
import moment from 'moment'

export default {
  created() {
    this.$store.dispatch('transport/setStation', 1034).then(_ => {
      this.$store.dispatch('transport/fetchNextBuses')
    })
  },
  computed: {
    ...mapState({
      buses: state => state.transport.nextBuses,
      station: state => state.transport.station
    })
  },
  methods: {
    formatBusTitle(busId) {
      if (busId <= 4) {
        let classObject = { illico: true }
        classObject['illico' + busId] = true
        return classObject
      }
    },
    isIllico(busId) {
      return busId <= 4
    }
  },
  filters: {
    formatDelay: function(value) {
      if (!value) return ''
      let delay = moment.duration(moment(value) - moment())
      let delay_s = delay.seconds() ? delay.seconds() + 's' : ''
      let delay_m = delay.minutes() ? delay.minutes() + ' min' : ''
      return delay_m + ' ' + delay_s
    }
  }
}
</script>
<style>
.label {
  margin-right: 5px;
}

.illico .bus {
  color: white;
}

.illico1 .label {
  color: #005fab;
}

.illico1 .bus {
  background-color: #005fab;
}

.illico2 .label {
  color: #e30917;
}

.illico2 .bus {
  background-color: #e30917;
}

.illico3 .label {
  color: #ff9966ff;
}

.illico3 .bus {
  background-color: #ff9966ff;
}

.illico4 .label {
  color: #009900ff;
}

.illico4 .bus {
  background-color: #009900ff;
}
</style>
