<template>
  <v-menu offset-y>
    <template v-slot:activator="{ on }">
      <v-btn class="account" flat v-on="on">{{ selectedItem.title }}</v-btn>
    </template>
    <v-list>
      <v-list-tile v-for="(item, index) in items" :key="index" @click="selectIndex(index)">
        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>
<script>
export default {
  data: () => ({
    selectedItem: null,
    selectedIndex: 0,
    items: [
      { title: 'firstname.lastname@mail.com' },
      { title: 'firstname.lastname1@mail.com' },
      { title: 'firstname.lastname2@mail.com' },
      { title: 'firstname.lastname3@mail.com' }
    ]
  }),
  created() {
    this.selectedItem = this.items[this.selectedIndex]
  },
  methods: {
    selectIndex(index) {
      this.selectedIndex = index
      this.selectedItem = this.items[this.selectedIndex]
    }
  }
}
</script>
<style scoped>
.account {
  color: #242d64b2;
  text-transform: lowercase;
  margin: 0;
  padding: 0;
}

.account::after {
  content: '  ⏷';
  white-space: pre;
}
</style>
