<template>
  <v-container>
    <v-layout column>
      <v-layout row wrap>
        <v-flex xs6>
          <span style="color: #0000008a" class="headline">Mes emails</span>
        </v-flex>
        <v-flex xs6 text-xs-center text-sm-right>
          <AccountList/>
        </v-flex>
      </v-layout>
      <v-flex xs12 sm6>
        <v-list two-line>
          <template v-for="(item, index) in items">
            <v-list-tile :key="index" avatar>
              <v-list-tile-avatar color="#cccccc">{{ item.name | initial }}</v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="item.title"></v-list-tile-title>
                <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import AccountList from './AccountList'
export default {
  components: {
    AccountList
  },
  data() {
    return {
      items: [
        {
          name: 'Karinn',
          title: 'List item primary title',
          subtitle: 'Circumfluus aeris obsistitur ardentior fert'
        },
        {
          name: 'Mathew',
          title: 'List item primary title',
          subtitle: 'Circumfluus aeris obsistitur ardentior fert'
        },
        {
          name: 'Denis',
          title: 'List item primary title',
          subtitle: 'Circumfluus aeris obsistitur ardentior fert'
        },
        {
          name: 'Karinn',
          title: 'List item primary title',
          subtitle: 'Circumfluus aeris obsistitur ardentior fert'
        },
        {
          name: 'Mathew',
          title: 'List item primary title',
          subtitle: 'Circumfluus aeris obsistitur ardentior fert'
        },
        {
          name: 'Karinn',
          title: 'List item primary title',
          subtitle: 'Circumfluus aeris obsistitur ardentior fert'
        },
        {
          name: 'Mathew',
          title: 'List item primary title',
          subtitle: 'Circumfluus aeris obsistitur ardentior fert'
        }
      ]
    }
  },
  filters: {
    initial(value) {
      return value.charAt(0).toUpperCase()
    }
  }
}
</script>

