<template>
  <v-container fluid fill-height>
    <v-layout justify-center align-center fill-height>
      <v-flex xs12 sm6 lg4>
        <v-layout row wrap justify-space-around text-xs-center>
          <MenuIcon title="Se déplacer" page="transport">
            <IconBus/>
          </MenuIcon>
          <MenuIcon title="Lorep Ipsum">
            <IconStar/>
          </MenuIcon>
          <MenuIcon title="Lorep Ipsum">
            <IconSearch/>
          </MenuIcon>
          <MenuIcon title="Lorep Ipsum">
            <IconPen/>
          </MenuIcon>
          <MenuIcon title="Lorep Ipsum">
            <IconMusic/>
          </MenuIcon>
          <MenuIcon title="Lorep Ipsum">
            <IconMail/>
          </MenuIcon>
          <MenuIcon title="Lorep Ipsum">
            <IconHeart/>
          </MenuIcon>
          <MenuIcon title="Lorep Ipsum">
            <IconEuro/>
          </MenuIcon>
          <MenuIcon title="Lorep Ipsum">
            <IconEmergency/>
          </MenuIcon>
          <MenuIcon title="Lorep Ipsum">
            <IconDrink/>
          </MenuIcon>
          <MenuIcon title="Lorep Ipsum">
            <IconCloud/>
          </MenuIcon>
          <MenuIcon title="Lorep Ipsum">
            <IconCalendar/>
          </MenuIcon>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import MenuIcon from './MenuIcon'
import IconBus from '@/components/icons/bus'
import IconStar from '@/components/icons/star'
import IconSearch from '@/components/icons/search'
import IconPen from '@/components/icons/pen'
import IconMusic from '@/components/icons/music'
import IconMail from '@/components/icons/mail'
import IconHeart from '@/components/icons/heart'
import IconEuro from '@/components/icons/euro'
import IconEmergency from '@/components/icons/emergency'
import IconDrink from '@/components/icons/drink'
import IconCloud from '@/components/icons/cloud'
import IconCalendar from '@/components/icons/calendar'

export default {
  components: {
    MenuIcon,
    IconStar,
    IconSearch,
    IconPen,
    IconMusic,
    IconMail,
    IconHeart,
    IconEuro,
    IconEmergency,
    IconDrink,
    IconCloud,
    IconCalendar,
    IconBus
  }
}
</script>


