<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47 56">
    <g id="ic_big_bus" fill="currentColor">
      <path
        d="M23.5,0.74 C10.8,0.74 0.5,2.18 0.5,12.24 L0.5,40.99 C0.5,43.53 1.62,45.8 3.38,47.38 L3.38,52.49 C3.38,54.08 4.67,55.37 6.26,55.37 L9.14,55.37 C10.73,55.37 12.02,54.08 12.02,52.49 L12.02,49.61 L35.02,49.61 L35.02,52.49 C35.02,54.08 36.31,55.37 37.9,55.37 L40.78,55.37 C42.37,55.37 43.66,54.08 43.66,52.49 L43.66,47.38 C45.41,45.8 46.54,43.54 46.54,40.99 L46.54,12.24 C46.5,2.18 36.2,0.74 23.5,0.74 Z M10.56,43.87 C8.18,43.87 6.25,41.94 6.25,39.56 C6.25,37.18 8.18,35.25 10.56,35.25 C12.94,35.25 14.87,37.18 14.87,39.56 C14.87,41.94 12.94,43.87 10.56,43.87 Z M36.44,43.87 C34.06,43.87 32.13,41.94 32.13,39.56 C32.13,37.18 34.06,35.25 36.44,35.25 C38.82,35.25 40.75,37.18 40.75,39.56 C40.75,41.94 38.82,43.87 36.44,43.87 Z M40.75,26.62 L6.25,26.62 L6.25,12.24 L40.75,12.24 L40.75,26.62 Z"
        id="Shape"
      ></path>
    </g>
  </svg>
</template>
