<template>
  <svg viewBox="0 0 62 68" version="1.1">
    <title>ic_big_calendar</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="ic_big_calendar" fill="currentColor">
        <path
          d="M60.93,6.8 C60.39,6.26 59.73,5.99 58.95,5.99 L56.16,5.99 L56.16,3.2 C56.16,2.42 55.89,1.76 55.35,1.22 C54.81,0.68 54.15,0.41 53.37,0.41 L47.79,0.41 C47.01,0.41 46.35,0.68 45.81,1.22 C45.27,1.76 45,2.42 45,3.2 L45,5.99 L17.08,5.99 L17.08,3.2 C17.08,2.42 16.81,1.76 16.27,1.22 C15.71,0.68 15.05,0.41 14.27,0.41 L8.69,0.41 C7.91,0.41 7.25,0.68 6.71,1.22 C6.17,1.76 5.9,2.42 5.9,3.2 L5.9,5.99 L3.11,5.99 C2.33,5.99 1.67,6.26 1.13,6.8 C0.59,7.34 0.32,8 0.32,8.78 L0.32,17.16 L61.74,17.16 L61.74,8.78 C61.74,8 61.47,7.34 60.93,6.8 Z"
          id="Path"
        ></path>
        <path
          d="M0.31,64.61 C0.31,65.39 0.58,66.05 1.12,66.59 C1.66,67.13 2.32,67.4 3.1,67.4 L58.93,67.4 C59.71,67.4 60.37,67.13 60.91,66.59 C61.45,66.05 61.72,65.39 61.72,64.61 L61.72,22.74 L0.31,22.74 L0.31,64.61 Z M50.56,33.91 L56.14,33.91 L56.14,39.49 L50.56,39.49 L50.56,33.91 Z M50.56,45.07 L56.14,45.07 L56.14,50.65 L50.56,50.65 L50.56,45.07 Z M50.56,56.24 L56.14,56.24 L56.14,61.82 L50.56,61.82 L50.56,56.24 Z M39.4,33.91 L44.98,33.91 L44.98,39.49 L39.4,39.49 L39.4,33.91 Z M39.4,45.07 L44.98,45.07 L44.98,50.65 L39.4,50.65 L39.4,45.07 Z M39.4,56.24 L44.98,56.24 L44.98,61.82 L39.4,61.82 L39.4,56.24 Z M28.23,33.91 L33.81,33.91 L33.81,39.49 L28.23,39.49 L28.23,33.91 Z M28.23,45.07 L33.81,45.07 L33.81,50.65 L28.23,50.65 L28.23,45.07 Z M28.23,56.24 L33.81,56.24 L33.81,61.82 L28.23,61.82 L28.23,56.24 Z M17.06,33.91 L22.64,33.91 L22.64,39.49 L17.06,39.49 L17.06,33.91 Z M17.06,45.07 L22.64,45.07 L22.64,50.65 L17.06,50.65 L17.06,45.07 Z M17.06,56.24 L22.64,56.24 L22.64,61.82 L17.06,61.82 L17.06,56.24 Z M5.9,33.91 L11.48,33.91 L11.48,39.49 L5.9,39.49 L5.9,33.91 Z M5.9,45.07 L11.48,45.07 L11.48,50.65 L5.9,50.65 L5.9,45.07 Z M5.9,56.24 L11.48,56.24 L11.48,61.82 L5.9,61.82 L5.9,56.24 Z"
          id="Shape"
        ></path>
      </g>
    </g>
  </svg>
</template>
