<template>
  <svg
    width="20px"
    height="18px"
    viewBox="0 0 20 18"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g id="ic_home" fill="currentColor">
      <path
        d="M6.98,17.49 L3.98,17.49 L3.98,9.49 L0.98,9.49 L10.98,0.49 L20.98,9.49 L17.98,9.49 L17.98,17.49 L10.98,17.49 L10.98,11.49 L6.98,11.49 L6.98,17.49 Z M12.98,11.5 L12.98,14.5 L15.98,14.5 L15.98,11.5 L12.98,11.5 Z"
      ></path>
    </g>
  </svg>
</template>