<template>
  <svg viewBox="0 0 70 58" version="1.1">
    <title>ic_big_mail</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="ic_big_mail" fill="currentColor">
        <path
          d="M33.99,33.8 C34.3,34.11 34.64,34.26 35.03,34.26 C35.42,34.26 35.76,34.11 36.07,33.8 L68.5,1.2 C68.81,0.89 68.91,0.64 68.82,0.45 C68.7,0.25 68.47,0.16 68.08,0.16 L1.96,0.16 C1.58,0.16 1.34,0.26 1.24,0.45 C1.14,0.64 1.25,0.89 1.56,1.2 L33.99,33.8 Z"
          id="Path"
        ></path>
        <path
          d="M16.73,29.93 C17.04,29.62 17.19,29.28 17.19,28.89 C17.19,28.5 17.04,28.18 16.73,27.87 L1.55,12.69 C1.24,12.38 0.99,12.28 0.8,12.37 C0.61,12.47 0.51,12.71 0.51,13.09 L0.51,44.71 C0.51,45.09 0.61,45.33 0.8,45.43 C0.99,45.53 1.24,45.42 1.55,45.11 L16.73,29.93 Z"
          id="Path"
        ></path>
        <path
          d="M47.54,35.69 C47.23,35.38 46.89,35.23 46.5,35.23 C46.11,35.23 45.77,35.38 45.46,35.69 L36.03,45.12 C35.72,45.43 35.38,45.58 34.99,45.58 C34.6,45.58 34.26,45.43 33.95,45.12 L24.52,35.69 C24.21,35.38 23.87,35.23 23.48,35.23 C23.09,35.23 22.79,35.38 22.48,35.69 L1.55,56.62 C1.24,56.93 1.14,57.18 1.23,57.37 C1.32,57.56 1.57,57.66 1.95,57.66 L68.07,57.66 C68.45,57.66 68.69,57.56 68.79,57.37 C68.89,57.18 68.78,56.93 68.47,56.62 L47.54,35.69 Z"
          id="Path"
        ></path>
        <path
          d="M69.23,12.39 C69.04,12.29 68.79,12.38 68.48,12.69 L53.3,27.87 C52.99,28.18 52.84,28.52 52.84,28.91 C52.84,29.3 52.99,29.64 53.3,29.95 L68.48,45.13 C68.79,45.44 69.04,45.54 69.23,45.45 C69.42,45.36 69.52,45.11 69.52,44.73 L69.52,13.11 C69.52,12.73 69.42,12.49 69.23,12.39 Z"
          id="Path"
        ></path>
      </g>
    </g>
  </svg>
</template>
