<template>
  <svg
    viewBox="0 0 31 51"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g id="ic_user" fill="#000000" fill-rule="nonzero">
      <path
        d="M19.21,22.58 L30.41,22.58 L30.41,18.45 L22.1,18.45 L17.51,10.81 C16.83,9.67 15.58,8.9 14.16,8.9 C13.77,8.9 13.39,8.96 13.03,9.07 L0.59,12.95 L0.59,24.88 L4.72,24.88 L4.72,16.47 L9.55,14.96 L0.59,50.1 L4.72,50.1 L11.3,31.5 L16.65,38.63 L16.65,50.1 L20.78,50.1 L20.78,35.41 L15.07,25 L16.75,18.42 L19.21,22.58 Z M18.94,8.35 C21.22,8.35 23.07,6.5 23.07,4.22 C23.07,1.94 21.22,0.09 18.94,0.09 C16.66,0.09 14.81,1.94 14.81,4.22 C14.81,6.5 16.66,8.35 18.94,8.35 Z"
        id="path433"
      ></path>
    </g>
  </svg>
</template>