<template>
  <div class="planning">
    <div class="planning_title">Aujourd'hui</div>
    <div class="content">
      <div class="header"></div>
      <div class="wrapper">
        <div class="header">Heure</div>
        <div class="header" style="grid-column: auto / span 2">Cours</div>
        <div class="header" style="grid-column: auto / span 2">Salle</div>
        <div class="line"/>
        <template v-for="(course, index) in courses" class="wrapper">
          <div class="hour">{{ course.hour}}</div>
          <div class="course">{{ course.course}}</div>
          <div :style="{color: course.color}">
            <LocPin width="14"/>
          </div>
          <div class="room">{{ course.room}}</div>
          <div class="time">
            <Walker height="20"/>
            {{ course.time}} min
          </div>
          <div class="line"/>
        </template>
      </div>
    </div>
  </div>
</template>
<script>
import Walker from '@/components/icons/user'
import LocPin from '@/components/icons/loc2'
export default {
  components: {
    Walker,
    LocPin
  },
  data: () => ({
    courses: [
      {
        hour: '13:30',
        course: 'SGBD',
        color: '#66336680',
        room: 'B2 S109',
        time: 3
      },
      {
        hour: '15:30',
        course: 'Architecture',
        color: '#66ccccff',
        room: 'B2 S211',
        time: 5
      },
      {
        hour: '16:30',
        course: 'Deep Learning',
        color: '#80663380',
        room: 'B3 S305',
        time: 6
      }
    ]
  }),
  methods: {
    getStyle(value) {
      return '#80663380'
    }
  }
}
</script>
<style>
.planning {
  border: 1pt solid #ddddddff;
  border-radius: 6;
  margin-top: 10px;
  color: #242d64ff;
}

.header {
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
}

.time {
  display: flex;
}

.time > svg {
  margin-right: 10px;
}

.planning_title {
  font-size: 10pt;
  padding: 8px;
  color: #00000085;
  background-color: #242d6485;
}
.wrapper {
  color: black;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 60px auto 30px 80px 80px;
  grid-gap: 10px;
}
.wrapper > div:not(.line) {
  padding-left: 8px;
}

.line {
  grid-column: 1 / -1;
  height: 1px;
  background: #ddddddff;
}
</style>

